@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --tran: all 0.3s linear;
}
.section-page-container {
  position: relative;
  top: 20%;
  /* height: 95vh; */
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-page-container h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
  margin: 0px 0px 25px 0px;
  color: #02203c;
}

.section-page-container .section-page-container-first {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-page-container .section-page-container-first .watch-btn-icon {
  font-size: 30px;
  margin: 0px 8px;
  color: #02203c;
}
.section-page-container .section-page-container-first .watch-btn-text {
  margin: 0px 5px 0px 0px;
}
.section-page-container .section-page-container-first .watch-btn {
  width: 60%;
  display: flex;
  justify-content: center;
  background-color: #ffff;
  align-items: center;
  font-size: 18px;
  padding: 5px 0px;
  border: 2px solid #02203c;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: var(--tran);
  overflow: hidden;
}
.watch-btn::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #02203c;
  width: 0%;
  transform: translateX(-100%);
  transition: var(--tran);
}
.watch-btn:hover:before {
  transform: translateX(0);
  width: 100%;
  z-index: -1;
}
.watch-btn:hover .watch-btn-text {
  color: #ffffff;
  font-weight: 400;
}

.watch-btn:hover .watch-btn-icon {
  color: #ffffff;
}

/* ---------------------------------Card Component ----------------------------------- */
.card-container {
  margin-top: 2%;
  /* border: 2px solid blue; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
}
.card-container .card-container-box {
  width: 87%;
  /* border: 2px solid red; */
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
.card-container .card-container-box .first-box {
  /* border: 2px solid red; */
  width: 400px;
  display: flex;
  /* margin: 20px; */
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  /* text-align: center; */
}
.card-container .card-container-box .second-box {
  overflow: hidden;
  width: 90%;
  /* height: 96%; */
  /* outline: 2px solid green; */
  /* width: 100%; */
  /* margin: 20px; */
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  margin: 21px;
  box-shadow: 0;

  transition: all 0.3s ease, transform 0.3s ease;
  /* transform: scale(1); */
}
.card-container .card-container-box .second-box:hover {
  padding: 18px;
  /* border: 2px solid green; */

  margin: 20px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card-container .card-container-box .second-box .icons {
  transform: scale(1);
  overflow: hidden;
  width: 50px;
  padding: 2px;
  transition: width 0.3s ease;
}
.card-container .card-container-box .second-box:hover .icons {
  width: 56px;

  /* transition: width 0.3s ease; */
}
.card-container .card-container-box .second-box .title {
  font-size: 20px;
  margin: 15px 0px;
  font-weight: 400;
}
.card-container .card-container-box .second-box .detail {
  color: #445d6e;
  font-size: 14px;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  /* overflow: hidden; */
  line-height: 1.7;
  max-height: 100px; /* Set a maximum height */
  overflow: hidden;
}
.card-container .card-container-box .second-box:hover .detail {
  overflow: hidden;
  /* transform: scale(1.02); */
}

/* ---------------------------------Card Component ----------------------------------- */
